body {
    margin: 0;
    font-family: Asap;
}

.titulo {
    margin-top: 80px;
    margin-left: 16%;
    font-size: 48px;
    border-bottom: 4px solid #008816;
    width: 9%;
    font-weight: 500;
}

.div-cadastro {
    margin-left: 14%;
    margin-right: 14%;
    color: #008816;
    display: flex;
    flex-direction: column;
    border: 2px solid #008816;
    padding: 3% 4% 3% 4%;
    margin-bottom: 10%;
}

.label-cadastro {
    font-size: 24px;
    font-weight: 400;
}

.input-cadastro {
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 1%;
    border: 1px solid #C1C1C1;
    color: #818080;
}

.a-cadastro {
    margin-top: 0;
    text-decoration: none;
    color: #000000;
    font-weight: 300;
    font-size: 24px;
}

.botao-cadastro {
    background-color: #F79A00;
    color: #FFFFFF;
    border: none;
    font-size: 24px;
    font-weight: 300;
    border-radius: 7px;
    margin-top: 2%;
    width: 30%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 7.5vh;
    cursor: pointer;
}

.botao-cadastro:hover{
    color: #F79A00;
    background-color: #FFFFFF;
    border: 1px solid #F79A00;
}

.link {
    text-decoration: none;
    color: #477BFF;
    font-weight: 300;
    font-size: 24px;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #477BFF;
    left: 0;
    bottom: -2px;
    transition: width 0.3s ease-in-out;
}

.link:hover {
    color: #0056b3; 
}

.link:hover::after {
    width: 100%;
}

#forgot-passaword {
    margin-right: 30%;
}

/* .imagem-cadastro {
    height: 4.5vh;
    margin-right: 10px;
} */

.titulo-medio {
    font-size: 36px;
    font-weight: 500;
}

.p-cadastro {
    align-self: center;
}