body {
    margin: 0;
    font-family: Asap;
    color: #008816;
}

.titulo-login {
    margin-left: 16%;
    font-size: 48px;
    border-bottom: 4px solid #008816;
    width: 8%;
    font-weight: 500;
}

.div-login {
    margin: 0 14% 5% 14%;
    display: flex;
    flex-direction: column;
    border: 2px solid #008816;
    padding: 3% 4% 3% 4%;
}

.label-login {
    font-size: 24px;
    font-weight: 400;
}

input {
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 1%;
    border: 1px solid #C1C1C1;
    color: #818080;
}

.div-login p a {
    margin-top: 0;
    text-decoration: none;
    color: #9A9C9A;
    font-weight: 300;
    font-size: 24px;
}

.login-button {
    background-color: #F79A00;
    color: #FFFFFF;
    border: none;
    font-size: 24px;
    font-weight: 300;
    border-radius: 7px;
    margin-top: 2%;
    width: 40%;
    height: 5.5vh;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.div-login .link{
    margin-left: 0.4vw;
    text-decoration: underline;
    color: #477BFF;
}

#forgot-password{
    margin-right: 23.4vw;
}

img{
    height: 41px;
}