.info-banner-item{
    width: 15vw;
    height: 15vw;
    color: #1f1f1f;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info-banner-item img{
    width: 40%;
}

.info-banner-item h4 {
    font-size: 40px;
    margin: 0;
}

.info-banner-item p{
    margin: 0;
}