/* banner */
.div-banner {
    position: relative;
    text-align: center;
    color: white;
}

.div-texto-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 2%;
    /* Adiciona algum espaçamento nas laterais */
}

.div-texto-overlay h3 {
    font-size: 5vw;
    /* Usa unidades relativas */
}

.div-texto-overlay p {
    font-size: 3vw;
    /* Usa unidades relativas */
}

.div-banner img {
    width: 100%;
    height: auto;
    /* Altera para auto para manter a proporção da imagem */
    max-height: 80vh;
    /* Limita a altura máxima */
}

.default-button {
    font-size: 2vw;
    /* Usa unidades relativas */
    background-color: #F79A00;
    border: none;
    padding: 1% 2%;
    /* Ajusta o padding */
    color: white;
    border-radius: 8%;
    cursor: pointer;
}

.default-button:hover {
    color: #F79A00;
    background-color: white;
    border: #F79A00 2px solid;
}

/* info banner */
.div-info-banner ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.info-banner-item {
    width: 15vw;
    height: 15vw;
    color: #1f1f1f;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-banner-item img {
    width: 40%;
    height: 40%;
}

.info-banner-item h4 {
    font-size: 40px;
    margin: 0;
}

.info-banner-item p {
    margin-bottom: 0;
}

.div-nav-cards {
    background-color: #008816;
}

.div-nav-cards ul {
    padding: 4% 0% 4% 0%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    font-size: 20px;
    margin: 0;
}

.div-nav-cards ul li {
    width: 20%;
    background-color: white;
    text-align: center;
}

.div-nav-cards ul h5 {
    margin: 0;
}

.div-nav-cards ul li img {
    width: 90%;
    height: 12vw;
    padding: 2%;
}

.div-nav-cards ul li button {
    font-size: 16px;
    margin-bottom: 4%;
}

.div-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0 2% 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.div-video button {
    margin-top: 2%;
    padding: 1%;
}

.header-historias-inspiradoras {
    background-image: url("../../utils/img/imagem 1.png");
    background-repeat: no-repeat;
}

.texto-overlay-historias-inspiradoras {
    color: white;
    padding: 3%;
    background-size: cover;
}

.texto-overlay-historias-inspiradoras h3 {
    font-size: 46px;
    font-weight: 600;
    margin: 0 0 3% 0;
}

.texto-overlay-historias-inspiradoras button {
    background-color: #008816;
}

.cards-historias-inspiradoras {
    display: flex;
    color: white;
    font-weight: 500;
    font-size: 40px;
    margin: 2% 0 2% 0;
    justify-content: space-evenly;
    flex-wrap: wrap; /* Permite que os elementos se ajustem em telas menores */
    gap: 1em; /* Espaçamento entre os cards */
}

.cards-historias-inspiradoras div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15%;
    background-size: cover; /* Ajusta a imagem de fundo */
    background-position: center; /* Centraliza a imagem de fundo */
    width: 100%;
    max-width: 400px; /* Limita o tamanho máximo dos cards */
    height: 268px;
}

.card-1-historias-inspiradoras {
    background-image: url("../../utils/img/image\ 86.png");
    width: 400px;
    height: 268px;
}

.card-2-historias-inspiradoras {
    background-image: url("../../utils/img/image\ 90.png");
    width: 383px;
    height: 268px;

}

.card-3-historias-inspiradoras {
    background-image: url("../../utils/img/image\ 88.png");
    width: 383px;
    height: 268px;
}

.div-equipe-voluntariado {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: #1f1f1f;
    margin-bottom: 5%;
}

.div-equipe-voluntariado img {
    width: auto;
    height: auto;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

.voluntarios-img {
    width: 15%;
}

.div-contato {
    display: flex;

}

.div-contato-forms {
    width:60%;
    margin-bottom:3%;
    margin-left:20%;

}

.div-contato-qrcode {
    position: relative;
    width: 40%;
    left:10%
}

.div-contato-forms button {
    width: 30%;
}

.div-contato-forms input {
    align-self: self-start;
    width: 80%;
    font-size: 20px;
}

.div-contato-forms img {
    width: 80%;
}

.div-contato-qrcode {
   
}

.div-contato-qrcode h4 {
    font-size: 64px;
    margin: 0;
}

.div-contato-qrcode img {
    width: 30%;
}

.div-contato-qrcode p {
    font-size: 20px;
    text-align: left;
}

@media (max-width: 1024px) {
    .div-texto-overlay h3 {
        font-size: 6vw;
    }

    .div-texto-overlay p {
        font-size: 4vw;
    }

    .default-button {
        font-size: 2.5vw;
    }

    .info-banner-item {
        width: 20vw;
        height: 20vw;
        font-size: 20px;
    }

    .info-banner-item h4 {
        font-size: 32px;
    }

    .div-nav-cards ul {
        flex-direction: column;
        align-items: center;
        padding: 5% 0;
    }

    .div-nav-cards ul li {
        width: 80%;
        margin-bottom: 2%;
    }
}

@media (max-width: 600px) {
    .div-banner img {
        max-height: 60vh;
    }

    .div-video{
        display: none;
    }


    .div-video button{
        display: none;
    }

    .div-contato p{
        font-size: larger;
        width: 190%;
    }

    .div-contato img{
        width: 90%;
        gap:5%;
    }

    .div-texto-overlay h3 {
        margin-top: 60%;
        font-size: 40px;
    }

    .div-texto-overlay p {
        display: none;
    }

    .default-button {
        font-size: 19px;
        width: 90%;
        padding: 2% 4%;
        border-radius: 10px;
        margin-bottom: 30%;
    }

    .div-info-banner ul {
        flex-direction: column;
        align-items: center;
    }

    .info-banner-item {
        width: 80%;
        height: auto;
        font-size: 18px;
    }

    .info-banner-item h4 {
        font-size: 28px;
    }

    .div-nav-cards ul li img {
        height: 100%;
    }

    .video-container {
        padding-bottom: 75%;
    }

    .texto-overlay-historias-inspiradoras h3 {
        font-size: 28px;
    }

    .cards-historias-inspiradoras {
        flex-direction: column;
    }

    .div-contato {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-right: 25%;
    }

    .div-contato-forms img {
        display: none;
        width: 200%;
        height: 100%;
    }

    .div-contato-forms input, .div-contato-forms button {
        width: 100%;
        font-size: 1.2em;
    }
}
