/* banner */
.div-banner {
    position: relative;
    text-align: center;
    color: white;
}

.div-texto-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 2%;
    /* Adiciona algum espaçamento nas laterais */
}

.div-texto-overlay h3 {
    font-size: 5vw;
    /* Usa unidades relativas */
}

.div-texto-overlay p {
    font-size: 3vw;
    /* Usa unidades relativas */
}

.div-banner img {
    width: 100%;
    height: auto;
    /* Altera para auto para manter a proporção da imagem */
    max-height: 80vh;
    /* Limita a altura máxima */
}

.default-button {
    font-size: 2vw;
    /* Usa unidades relativas */
    background-color: #F79A00;
    border: none;
    padding: 1% 2%;
    /* Ajusta o padding */
    color: white;
    border-radius: 8%;
    cursor: pointer;
}

.default-button:hover {
    color: #F79A00;
    background-color: white;
    border: #F79A00 2px solid;
}

/* info banner */
.div-info-banner ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.info-banner-item {
    width: 15vw;
    height: 15vw;
    color: #1f1f1f;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-banner-item img {
    width: 40%;
    height: 40%;
}

.info-banner-item h4 {
    font-size: 40px;
    margin: 0;
}

.info-banner-item p {
    margin-bottom: 0;
}

.div-nav-cards {
    background-color: #008816;
}

.div-nav-cards ul {
    padding: 4% 0% 4% 0%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    font-size: 20px;
    margin: 0;
}

.div-nav-cards ul li {
    width: 20%;
    background-color: white;
    text-align: center;
}

.div-nav-cards ul h5 {
    margin: 0;
}

.div-nav-cards ul li img {
    width: 90%;
    height: 12vw;
    padding: 2%;
}

.div-nav-cards ul li button {
    font-size: 16px;
    margin-bottom: 4%;
}

.div-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0 2% 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 ratio (height / width * 100) */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.div-video button {
    margin-top: 2%;
    padding: 1%;
}

.header-historias-inspiradoras {
    background-image: url("../../utils/img/imagem 1.png");
    background-repeat: no-repeat;
}

.texto-overlay-historias-inspiradoras {
    color: white;
    padding: 3%;
}

.texto-overlay-historias-inspiradoras h3 {
    font-size: 46px;
    font-weight: 600;
    margin: 0 0 3% 0;
}

.texto-overlay-historias-inspiradoras button {
    background-color: #008816;
}

.cards-historias-inspiradoras {
    display: flex;
    color: white;
    font-weight: 500;
    font-size: 40px;
    margin: 2% 0 2% 0;
    justify-content: space-evenly;
    flex-wrap: wrap; /* Permite que os elementos se ajustem em telas menores */
    gap: 1em; /* Espaçamento entre os cards */
}

.cards-historias-inspiradoras div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15%;
    background-size: cover; /* Ajusta a imagem de fundo */
    background-position: center; /* Centraliza a imagem de fundo */
    width: 100%;
    max-width: 400px; /* Limita o tamanho máximo dos cards */
    height: 268px;
}

.card-1-historias-inspiradoras {
    background-image: url("../../utils/img/image\ 86.png");
    width: 400px;
    height: 268px;
}

.card-2-historias-inspiradoras {
    background-image: url("../../utils/img/image\ 90.png");
    width: 383px;
    height: 268px;

}

.card-3-historias-inspiradoras {
    background-image: url("../../utils/img/image\ 88.png");
    width: 383px;
    height: 268px;
}

.div-equipe-voluntariado {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: #1f1f1f;
    margin-bottom: 5%;
}

.div-equipe-voluntariado img {
    width: auto;
    height: auto;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

.voluntarios-img {
    width: 15%;
}

.div-contato {
    display: flex;
    margin: 0 10% 5% 10%;
    gap: 2%;
    flex-wrap: wrap;
}

.div-contato div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.div-contato-forms {
    width: 55%;
    align-items: center;
}

.div-contato-forms button {
    width: 30%;
}

.div-contato-forms input {
    align-self: self-start;
    width: 98%;
    font-size: 20px;
}

.div-contato-forms img {
    width: 100%;
}

.div-contato-qrcode {
    width: 45%;
    align-items: center;
    margin-right: 5%;
}

.div-contato-qrcode h4 {
    font-size: 64px;
    margin: 0;
}

.div-contato-qrcode img {
    width: 30%;
}

.div-contato-qrcode p {
    font-size: 20px;
    text-align: left;
}


@media (min-width: 1200px) {
    .header-historias-inspiradoras {
        height: 35vh;
    }

    .cards-historias-inspiradoras div {
        width: 400px;
        height: 268px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {

    .cards-historias-inspiradoras div {
        width: 300px;
        height: 200px;
    }
}

@media (max-width: 768px) {
    .div-texto-overlay {
        position: absolute;
        top: 57%;
    }

    .info-banner-item h4 {
        font-size: 12px;
    }

    .info-banner-item p {
        font-size: 12px;
        margin: 0;
    }

    .div-nav-cards ul {
        font-size: 2vw;
    }

    .div-nav-cards .default-button {
        font-size: 2vw;
        padding: 1% 2%;
        width: 70%;
    }

    
    .texto-overlay-historias-inspiradoras{
        min-height: 100px;
    }

    .texto-overlay-historias-inspiradoras h3{
        font-size: 6vw;
    }

    .div-equipe-voluntariado {
        font-size: 28px;
    }

    .div-equipe-voluntariado img {
        max-width: 300px;
    }

    .div-contato {
        flex-direction: column;
        align-items: center;
        margin: 0 5%;
    }
    
    .div-contato-forms, .div-contato-qrcode {
        width: 100%;
        margin: 0;
    }
    
    .div-contato-forms input {
        width: 90%;
        font-size: 18px;
    }
    
    .div-contato-qrcode h4 {
        font-size: 2.5em;
    }
    
    .div-contato-qrcode p {
        font-size: 1.1em;
    }
}

@media (max-width: 480px) {
    body{
        font-size: 12px;
    }

    .div-equipe-voluntariado {
        font-size: 24px;
    }

    .div-equipe-voluntariado img {
        max-width: 250px;
    }

    .div-contato {
        margin: 0 2%;
    }
    
    .div-contato-forms input {
        width: 100%;
        font-size: 16px;
    }
    
    .div-contato-forms button {
        width: 50%;
    }
    
    .div-contato-qrcode h4 {
        font-size: 2rem;
    }
    
    .div-contato-qrcode p {
        font-size: 1rem;
    }
    
    .div-contato-qrcode img {
        width: 40%;
    }
}