body {
    margin: 0;
    font-family: Asap;
}

.div-erro-404{
    display: flex;
    margin-bottom: 4%;
    flex-direction: column;
    align-items: center;
}

 .Not-found {
    margin: 0;
}



.div-erro-404 img{
    display: flex;
    width: 500px;
    height: 500px;
    object-fit: cover;
    position: relative;
    top: 80px;
}


.label-login {
    font-size: 24px;
    font-weight: 400;
}


.div-login p a {
    margin-top: 0;
    text-decoration: none;
    color: #9A9C9A;
    font-weight: 300;
    font-size: 24px;
}

.return-button {
    background-color: gray;
    color: #FFFFFF;
    border: none;
    font-size: 24px;
    font-weight: 300;
    border-radius: 7px;
    margin-top: 2%;
    width: 20%;
    height: 5.5vh;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.div-login .link{
    margin-left: 0.4vw;
    text-decoration: underline;
    color: #477BFF;
}

@media (max-width: 768px) {
    .div-erro-404 img {
        width: 300px; /* Reduz a largura da imagem */
        height: 300px;
    }

    .Not-found {
        font-size: 1.5rem; /* Reduz o tamanho do texto */
        text-align: center;
    }

    .return-button {
        font-size: 18px;
        width: 60%;
        height: 6vh;
    }
}

@media (max-width: 480px) {
    .div-erro-404 img {
        width: 80%;
        height: 100%;
    }

    .Not-found {
        font-size: 1.2rem;
        text-align: center;
        padding: 0 10px;
    }

    .return-button {
        font-size: 16px;
        width: 80%;
        height: 6vh;
    }
}