.container_faixa{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container_faixa img{
    width: 182px;
    height: 182px;
}

.container_faixa div{
    text-align: center;

    cursor: pointer;
    padding: 10px;
    border: solid 3px #fff;
    border-radius: 10px;
}

.container_faixa div:not(.active):hover {
    border: solid 3px #9A9C9A;
}

.active {
    border: solid 3px #008816 !important;
}