.titulo-acompanhamento {
    font-size: 2.25rem;
    border-bottom: 4px solid #008816;
    width: 100%;
    max-width: 300px;
    color: black;
    font-weight: bold;
    margin: 16px auto;
    text-align: center;
}

.subtitulo-acompanhamento {
    color: black;
    font-size: 1.25rem;
    text-align: center;
    margin: 8px 0;
}

.container-doacao {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    gap: 16px;
    border: solid 2px #DBDBDB;
    border-radius: 10px;
    margin: 0 auto 20px auto;
}

.container-caixa {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-right: none;
}

.container-img-caixa {
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
    border-radius: 50%;
    border: solid 2px #DBDBDB;
}

.img-caixa {
    object-fit: contain;
    width: 80%;
}

.container-detalhes {
    text-align: center;
}

.container-detalhes h2 {
    font-size: 1rem;
}

.container-detalhes p {
    font-size: 0.9rem;
    margin: 4px 0;
}

.container-status {
    margin-top: 12px;
}

.estagios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estagios ul {
    flex-direction: column;
    gap: 10px;
}

.estagios ul div {
    text-align: center;
}

.estagios ul li {
    width: 50px;
    height: 50px;
    border: solid 2px #9d9d9d;
}

.estagios span {
    font-size: 40px;
}

.estagios .connector {
    width: 3px;
    height: 40px;
}

@media (min-width: 768px) {
    .container-doacao {
        flex-direction: row;
        max-width: 90%;
    }

    .container-caixa {
        flex-direction: row;
        border-right: solid 2px #DBDBDB;
    }

    .estagios {
        flex-direction: row;
    }

    .estagios ul {
        flex-direction: row;
    }

    .estagios .connector {
        width: 80px;
        height: 3px;
    }
}