body {
    margin: 0;
    font-family: Asap;
}

.footer {
    background-color: #FDAF2D;
    justify-content: center;
    display: flex;
    color: #FFFFFF;
}

.links-endereco {
    width: 30%;
    flex-wrap: wrap;
    padding: 0;
    margin-left: 2%;
    align-content: center;}

.links-endereco-item {
    font-weight: 500;
}

.image {
    width: 60px;
}

.images {
    margin-left: 2%;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}