body {
    margin: 0;
    font-family: Asap;
}

.div-erro{
    display: flex;
    flex-direction: column;
    gap: -100px;
    justify-content:start;
    padding: 10px;
    align-items: center;
    margin-bottom: 10%;
}


.div-erro img{
    width: 500px;
    height: 360px;
    object-fit: cover;
    position: relative;
    top: 4vh;
}

.bad-request{
    margin: 0;
}

.label-login {
    font-size: 24px;
    font-weight: 400;
}


.div-login p a {
    margin-top: 0;
    text-decoration: none;
    color: #9A9C9A;
    font-weight: 300;
    font-size: 24px;
}

.return-button {
    background-color: gray;
    color: #FFFFFF;
    border: none;
    font-size: 24px;
    font-weight: 300;
    border-radius: 7px;
    width: 20%;
    height: 5.5vh;
}

.div-login .link{
    margin-left: 0.4vw;
    text-decoration: underline;
    color: #477BFF;
}

/* Media Queries */
@media (max-width: 768px) {
    .div-erro img {
        width: 300px; /* Reduz o tamanho da imagem */
        height: 240px;
    }

    .bad-request {
        font-size: 1.5rem; /* Ajusta o tamanho do texto */
        text-align: center;
    }

    .return-button {
        font-size: 18px;
        width: 60%;
        height: 6vh;
    }
}

@media (max-width: 480px) {
    .div-erro img {
        width: 80%;
        height: 100%;
    }

    .bad-request {
        font-size: 1.2rem;
        text-align: center;
        padding: 0 10px;
    }

    .return-button {
        font-size: 19px;
        width: 60%;
        height: 6vh;
    }
}