<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="footer.module.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="footer">
        <ul class="links-endereco">
            <li>Av. Guido Caloi 1000.  Bloco 6 - Térreo  -  Santo Amaro -São Paulo - SP, 05802-140</li>
            <li>Alameda Europa, 88 - 2 Subsolo - Tamboré, Santana de Parnaíba - SP, 06543-325</li>
            <li>Organico Coworking - Alameda Grajaú 219. Alphaville Barueri CEP 06454-050</li>
            <li>Av. Tucunaré 1192  T 1  -  14.      Tamboré -  Barueri   - 06460020</li>
        </ul>
        <ul>
            <p>Email: <a href="">atendimento@proetocaixadesapato.org </a></p>
            <p>CNPJ: 36.293.262/0001-39 </p>
        </ul>
        <div class="images">
            <img src="../../utils/img/ods-1.svg" alt="">
            <img src="../../utils/img/ods-4.svg" alt="">
            <img src="../../utils/img/ods-10.svg" alt="">
            <img src="../../utils/img/ods-12.svg" alt="">
            <img src="../../utils/img/ods-17.svg" alt="">
        </div>
    </div>
</body>

</html>